looker_repository: git@gitlab.com:getindata/dataops/looker/pipeline-example-looker.git
looker_repository_username: "{{ env_var('LOOKER_REPO_USERNAME') }}"
looker_repository_email: "[[ pipeline_owner ]]@getindata.com"
looker_project_id: [[ project_name ]]
looker_webhook_secret: "{{ env_var('LOOKER_WEBHOOK_SECRET') }}"
looker_repository_branch: master
looker_instance_url: https://getindata.cloud.looker.com/