# Changes here will be overwritten by Copier; NEVER EDIT MANUALLY
dataset: presentation
destination_id_dev: null
destination_id_prod: null
gcp_dev_project_id: gid-labs-dlz-core-dev
gcp_prod_project_id: gid-labs-dlz-core-prod
pipeline_owner: DataOps Team
project_description: Project for transforming data
project_name: dbt-tpch-test
schedule_interval: 0 12 * * *
source_id_dev: null
source_id_prod: null
use_bi: false
use_ingestion: false